---
mnemonic: clergy
layout: main
display_title: Cathedral of Saint Peter-in-Chains - Clergy
open_graph_title: >
  Clergy Profiles for
  The Cathedral of Saint Peter-in-Chains
  Roman Catholic Parish
  in Peterborough, Ontario
open_graph_description: >
  Clergy profiles for the priests leading our parish.
---

{% assign clergy = site.data.clergy %}

<section id="clergy" class="page-container">
  <h1 class="page-title">{{ clergy.title }}</h1>
  <p class="page-descriptive">{{ clergy.descriptive }}</p>
  {% for member in clergy.clergy %}
  <section class="clergy-member">
    <div class="pure-g">
      <div class="clergy-member-image pure-u-1 pure-u-sm-2-5 pure-u-xl-1-4">{% if member.image %}<img src="{{ member.image | prepend: site.clergy_images_path | relative_url }}">{% else %}<div></div>{% endif %}</div>
      <div class="clergy-member-text pure-u-1 pure-u-sm-3-5 pure-u-xl-3-4">
        <h1 class="clergy-member-text-identity">
          <span class="clergy-member-text-title">{{ member.title }}</span>
          <span class="clergy-member-text-name">{{ member.first_name }}&nbsp;{{ member.last_name }}</span>
        </h1>
        <h2 class="clergy-member-text-position">{{ member.position }}</h2>
        <div class="clergy-member-text-bio markdown">{{ member.bio | markdownify }}</div>
        <div class="clergy-member-text-contact">
          {% for contact in member.contact %}
          <a target="_blank" href="{% if contact.link contains '@' %}mailto:{% endif %}{{ contact.link }}">{{ contact.platform }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
</section>
