---
mnemonic: index
layout: main
display_title: Cathedral of Saint Peter-in-Chains - Home
open_graph_title: >
  Home of
  The Cathedral of Saint Peter-in-Chains
  Roman Catholic Parish
  in Peterborough, Ontario
open_graph_description: >
  Everyone is welcome at our beautiful Cathedral.
  We hold numerous holy masses and other events daily.
  Join our loving faith community today!
---

<!-- COVID-19 -->

{% assign covid19 = site.data.index.covid19 %}

<section id="index-covid19">
  <h1>{{ covid19.title }}</h1>
  <div id="index-covid19-text" class="markdown">{{ covid19.text | markdownify }}</div>
  <div id="index-covid19-give">
    <button class="tithely-give-btn" style="background-color: #00DB72;font-family: inherit;font-weight: bold;font-size: 19px; padding: 15px 70px; border-radius: 4px; cursor: pointer; background-image: none; color: white; text-shadow: none; display: inline-block; float: none; border: none;" data-church-id="1097756">{{ covid19.donate_button }}</button>
    <script src="https://tithe.ly/widget/v3/give.js?3"></script>
    <script>var tw = create_tithely_widget();</script>
  </div>
</section>

<!-- SOCIAL MEDIA & MAP -->

{% assign social = site.data.index.social %}

<section id="social">
  <div id="social-logos">
    {% for app in social.apps %}
    <a target="_blank" href="{% if app.link %}{{ app.link }}{% else %}javascript:void(0){% endif %}"><img src="{{ app.logo | prepend: site.social_images_path | relative_url }}"></a>
    {% endfor %}
  </div>
  <div id="social-message">{{ social.message }}</div>
</section>

<!-- TWITTER -->

{% assign twitter = site.data.index.twitter %}

<section id="twitter">
  <h1><a href="{{ twitter.link }}">{{ twitter.title }}</a></h1>
  <a class="twitter-timeline" data-chrome="noheader nofooter noborders" data-height="1000" href="https://twitter.com/cathedralstpet?ref_src=twsrc%5Etfw">Tweets by @cathedralstpet</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>

<!-- SCHEDULE -->

{% assign schedule = site.data.schedule %}

<section id="index-schedule">
  <h1 id="index-schedule-title">{{ schedule.sections.upcoming.title }}</h1>
  <div id="index-schedule-calendar">
    {% assign earliest = site.time | date: '%Y-%m-%d' %}
    {% assign daysForward = schedule.select.index.days_forward | times: 86400 %}
    {% assign latest = earliest | date: '%s' | plus: daysForward | date: '%Y-%m-%d' %}
    {% for diem in schedule.calendar %}
    {% assign diemDate = diem.date | date: '%Y-%m-%d' %}
    {% if earliest <= diemDate and diemDate <= latest %}
    {% assign dayOfMonth = diem.date | date: '%d' %}
    {% if dayOfMonth <= "07" %}
      {% assign isFirstWeek = true %}
    {% else %}
      {% assign isFirstWeek = false %}
    {% endif %}
    {% if diem.specials %}
      {% assign events = diem.recurring | concat: diem.specials | sort: 'ordinal' %}
    {% else %}
      {% assign events = diem.recurring | sort: 'ordinal' %}
    {% endif %}
    <ul class="index-schedule-diem-list" data-diem="{{ diem.date | date: '%Y%m%d' }}">
      <li class="index-schedule-diem-item">
        <h1 class="index-schedule-diem-day">
          <span class="index-schedule-diem-dayofweek{% if diem.celebration %}-celebration{% endif %}">{{ diem.date | date: '%A' }}</span>
          <span class="index-schedule-diem-formatteddate">{{ diem.date | date: '%B %-d, %Y' }}</span>
          {% if diem.celebration %}<span class="index-schedule-diem-celebration" style="{% if diem.celebration.color %}color: {{ diem.celebration.color }}; {% endif %}{% if diem.celebration.bgcolor %}background-color: {{ diem.celebration.bgcolor }}{% endif %}">{{ diem.celebration.title }}</span>{% endif %}
        </h1>
        {% if diem.note %}<h2 class="index-schedule-diem-note">{{ diem.note }}</h2>{% endif %}
        <ul class="index-schedule-event-list">
          {% for event in events %}
          {% unless diem.exclusions contains event.mnemonic %}
          {% if event.reparatory != true or isFirstWeek == true %}
          <li class="index-schedule-event-item">
            {% if event.mnemonic %}{% assign event_class = 'index-schedule-event-recurring' %}{% else %}{% assign event_class = 'index-schedule-event-special' %}{% endif %}
            <span class="index-schedule-event-title {{ event_class }}"{% if event.color %} style="color: {{ event.color }}"{% endif %}>{{ event.title }}</span>
            <span class="index-schedule-event-time">{{ event.time }}</span>
            {% if event.location %}<span class="index-schedule-event-location">{{ event.location }}</span>{% endif %}
            {% if event.descriptive %}<div class="index-schedule-event-descriptive markdown">{{ event.descriptive | markdownify }}</div>{% endif %}
          </li>
          {% endif %}
          {% endunless %}
          {% endfor %}
        </ul>
      </li>
    </ul>
    {% endif %}
    {% endfor %}
  </div>
  <div id="index-schedule-more">
    <a href="{{ '/schedule.html' | relative_url }}">Full schedule</a>
    <a href="{{ '/schedule.html' | relative_url | append: '#' | append: schedule.sections.past.anchor }}">Past events</a>
  </div>
</section>

<script src="{{ 'schedule.js' | prepend: site.scripts_path | relative_url }}"></script>
<script>trimIndexSchedule();</script>

<!-- EXPOSITION -->

{% assign exposition = site.data.index.exposition %}

<section id="exposition">
  <h1 id="exposition-title">{{ exposition.title }}</h1>
  <div class="pure-g">
    {% for item in exposition.items %}
    {% assign combined_style = '' %}
    {% if item.color %}{% capture color_style %}color:{{item.color}}{% endcapture %}{% assign combined_style = combined_style | append: color_style %}{% endif %}
    {% if item.background %}{% capture background_style %};background-color:{{item.background}}{% endcapture %}{% assign combined_style = combined_style | append: background_style %}{% endif %}
    {% if item.shadow %}{% capture shadow_style %};box-shadow:-2px 2px 5px {{item.shadow}}{% endcapture %}{% assign combined_style = combined_style | append: shadow_style %}{% endif %}
    <div class="exposition-item pure-u-1 pure-u-md-1-3"><section>
      {% if item.patch %}
      <div class="exposition-item-patch" style="{{ combined_style }}"><div class="exposition-item-patch-blurb">{{ item.patch | markdownify }}</div></div>
      {% else %}
      <div class="exposition-item-title">{{ item.title }}</div>
      {% endif %}
      <div class="exposition-item-text markdown">{{ item.text | markdownify }}</div>
    </section></div>
    {% endfor %}
  </div>
</section>

<!-- FORMED -->

{% assign access_code = site.data.index.formed_access_code %}

<a id="formed" target="_blank" href="https://formed.org/">
  <img src="{{ 'formed-logo.png' | prepend: site.images_path | relative_url }}">
  <div>Parishioners register on the site using Access&nbsp;Code&nbsp;<strong>{{ access_code }}</strong></div>
</a>

<!-- VIDEO -->

{% assign video = site.data.index.video %}

<section id="video">
  <iframe src="https://www.youtube.com/embed/{{ video.id }}{% if video.offset %}?start={{ video.offset }}{% endif %}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
  <div id="video-description" class="markdown">{{ video.description | markdownify }}</div>
</section>
