---
mnemonic: schedule
layout: main
display_title: Cathedral of Saint Peter-in-Chains - Schedule
open_graph_title: >
  Regular Schedule for
  The Cathedral of Saint Peter-in-Chains
  Roman Catholic Parish
  in Peterborough, Ontario
open_graph_description: >
  Listing of masses and other faith events,
  held daily, weekly, and throughout the year.
---

{% assign schedule = site.data.schedule %}

<section id="schedule2" class="page-container">
  <h1 class="page-title">{{ schedule.title }}</h1>
  <div class="page-descriptive markdown">{{ schedule.descriptive | markdownify }}</div>
  <section id="schedule2-calendar-upcoming-container">
    <h1>{{ schedule.subtitle.upcoming }}</h1>
    <div id="schedule2-calendar-upcoming">
      {% for diem in schedule.calendar %}
      {% assign dayOfMonth = diem.date | date: '%d' %}
      {% if dayOfMonth <= "07" %}
        {% assign isFirstWeek = true %}
      {% else %}
        {% assign isFirstWeek = false %}
      {% endif %}
      {% if diem.specials %}
        {% assign events = diem.recurring | concat: diem.specials | sort: 'ordinal' %}
      {% else %}
        {% assign events = diem.recurring | sort: 'ordinal' %}
      {% endif %}
      <ul class="schedule2-diem-container" id="schedule2-diem-{{ diem.date | date: '%Y%m%d' }}">
        <li class="schedule2-diem">
          <h1 class="schedule2-diem-heading">
            <span class="schedule2-diem-dayofweek">{{ diem.date | date: '%A' }}</span>
            <span class="schedule2-diem-formatteddate">{{ diem.date | date: '%B %-d, %Y' }}</span>
            {% if diem.celebration %}<span class="schedule2-diem-celebration" style="{% if diem.celebration.color %}color: {{ diem.celebration.color }}; {% endif %}{% if diem.celebration.bgcolor %}background-color: {{ diem.celebration.bgcolor }}{% endif %}">{{ diem.celebration.title }}</span>{% endif %}
            {% if diem.season %}<span class="schedule2-diem-season" style="{% if diem.season.color %}color: {{ diem.season.color }}; {% endif %}{% if diem.season.bgcolor %}background-color: {{ diem.season.bgcolor }}{% endif %}">{{ diem.season.title }}</span>{% endif %}
          </h1>
          {% if diem.note %}<h2 class="schedule2-diem-note">{{ diem.note }}</h2>{% endif %}
          <ul class="schedule2-event-container">
            {% for event in events %}
            {% unless diem.exclusions contains event.mnemonic %}
            {% if event.reparatory != true or isFirstWeek == true %}
            <li class="schedule2-event">
              <h1 class="schedule2-event-heading">
                {% if event.mnemonic %}{% assign event_class = 'schedule2-event-recurring' %}{% else %}{% assign event_class = 'schedule2-event-special' %}{% endif %}
                <span class="schedule2-event-title {{ event_class }}"{% if event.color %} style="color: {{ event.color }}"{% endif %}>{{ event.title }}</span>
                <span class="schedule2-event-time">{{ event.time }}</span>
                {% if event.location %}<span class="schedule2-event-location">{{ event.location }}</span>{% endif %}
              </h1>
              {% if event.descriptive %}<div class="schedule2-event-descriptive markdown">{{ event.descriptive | markdownify }}</div>{% endif %}
            </li>
            {% endif %}
            {% endunless %}
            {% endfor %}
          </ul>
        </li>
      </ul>
      {% endfor %}
    </div>
  </section>
  <section id="schedule2-calendar-recent-container">
    <h1>{{ schedule.subtitle.past }}</h1>
    <div id="schedule2-calendar-recent"></div>
  </section>
</section>

<script src="{{ 'schedule.js' | prepend: site.scripts_path | relative_url }}"></script>
<script>trimSchedule();</script>
