---
mnemonic: schedule
layout: main
display_title: Cathedral of Saint Peter-in-Chains - Schedule
open_graph_title: >
  Regular Schedule for
  The Cathedral of Saint Peter-in-Chains
  Roman Catholic Parish
  in Peterborough, Ontario
open_graph_description: >
  Listing of masses and other faith events,
  held daily, weekly, and throughout the year.
---

{% assign schedule = site.data.schedule %}

<section id="schedule" class="page-container">
  <h1 class="page-title">{{ schedule.title }}</h1>
  <div class="page-descriptive markdown">{{ schedule.descriptive | markdownify }}</div>
  {% for occasion in schedule.occasions %}
  <section class="schedule-occasion">
    <h1 class="schedule-occasion-title">{{ occasion.title }}</h1>
    {% if occasion.start %}<h2 class="schedule-occasion-start">{{ occasion.start }}</h2>{% endif %}
    {% if occasion.descriptive %}<p class="schedule-occasion-descriptive">{{ occasion.descriptive }}</p>{% endif %}
    <div class="pure-g">
      {% for event in occasion.events %}
      <div class="schedule-event pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3 pure-u-xl-1-4"><section>
        {% if event.image  %}
        <img class="schedule-event-image" src="{{ event.image | prepend: site.schedule_images_path | relative_url }}">
        <h1 class="schedule-event-title-with-image">{{ event.title }}</h1>
        {% else %}
        <h1 class="schedule-event-title-without-image">{{ event.title }}</h1>
        {% endif %}
        {% if event.descriptive %}<p class="schedule-event-descriptive">{{ event.descriptive }}</p>{% endif %}
        {% for day in event.days %}
        <div class="schedule-event-day">{{ day.day | replace: '--', '&ndash;' }}</div>
        {% for time in day.times %}
        <div class="schedule-event-time">{{ time | replace: '--', '&ndash;' }}</div>
        {% endfor %}
        {% endfor %}
      </section></div>
      {% endfor %}
    </div>
  </section>
  {% endfor %}
</section>
