---
---



/*** PAGE: INDEX ***/


/* SECTION: SCHEDULE */

#index-schedule {
  text-align: center;
}

#index-schedule > h1 {
  margin: 0 5%; padding-bottom: 0.25rem;
  border-bottom: 2px solid #eee;
  font-weight: 400; font-size: 0.9rem;
  color: #333;
}

div.index-schedule-occasion {
  padding-top: 0.75rem;
  font-weight: 600; font-size: 0.9rem;
  color: #999; color: #333;
}

div.index-schedule-event {
  padding-top: 0.5rem;
  font-weight: 300; font-size: 0.9rem;
}

span.index-schedule-title {
  padding: 0.1rem 0.4rem;
  background-color: #f6f6f6;
  font-weight: 400;
  color: #999;
}

span.index-schedule-days-times { display: block; }

span.index-schedule-day {
  padding-left: 0.75rem;
  white-space: nowrap;
  color: #666;
}

span.index-schedule-time {
  padding-left: 0.25rem;
  white-space: nowrap;
  color: #999;
}

#index-schedule-more { padding-top: 1rem; }

#index-schedule-more > a {
  font-weight: 400; font-size: 0.9rem;
  text-decoration: none;
  color: #333;
}

#index-schedule-more > a:hover { color: skyblue; }

@media screen and (min-width: 48rem) {
  #index-schedule > h1 { font-size: 1rem; }
  div.index-schedule-occasion { font-size: 1rem; }
  div.index-schedule-event { font-size: 1rem; }
  #index-schedule-more > a { font-size: 1rem; }
}

@media screen and (min-width: 64rem) {
  #index-schedule > h1 { margin: 0 10%; font-size: 1.1rem; }
  div.index-schedule-occasion { font-size: 1.1rem; }
  div.index-schedule-event { padding-top: 0.75rem; font-size: 1.1rem; }
  span.index-schedule-days-times { display: inline; }
  #index-schedule-more > a { font-size: 1.1rem; }
}


/* SECTION: SOCIAL MEDIA */

#social {
  margin: 3rem 5% 0 5%;
  text-align: center;
}

#social-logos > a { margin-right: 5%; filter: grayscale(0.5); }
#social-logos > a:last-of-type { margin: 0 0 0 8%; }

#social-logos > a > img { width: 36px; height: 36px; }

#social-message {
  margin-top: 0.25rem; padding-top: 0.25rem;
  border-top: 2px solid #eee;
  font-weight: 400; font-size: 0.9rem;
  color: #333;
}

@media screen and (min-width: 35.5rem) {
  #social-logos > a > img { width: 45px; height: 45px; }
}

@media screen and (min-width: 48rem) {
  #social-logos > a > img { width: 54px; height: 54px; }
  #social-message { font-size: 1rem; }
}

@media screen and (min-width: 64rem) {
  #social { margin-left: 10%; margin-right: 10%; }
  #social-logos > a > img { width: 72px; height: 72px; }
  #social-message { font-size: 1.1rem; }
}


/* SECTION: FORMED */

#formed {
  display: block;
  margin: 2rem 0 3rem 0;
  text-align: center; text-decoration: none;
  color: #666;
}

#formed > img {
  width: 100%; max-width: 435px;
  object-fit: contain;
  filter: grayscale(0.5);
}

#formed > div {
  margin-top: 0.25rem;
  font-weight: 300; font-size: 0.9rem;
  color: #333;
}


/* SECTION: CALL TO ACTION */

#call-to-action {
  margin-top: 3rem;
  text-align: center;
}

#call-to-action > iframe { width: 240px; height: 135px; }
@media screen and (min-width: 48rem) { #call-to-action > iframe { width: 560px; height: 315px; } }

#call-to-action-message {
  margin: 0.5rem 10%;
  font-weight: 300; font-size: 0.9rem;
  color: #666;
}

#call-to-action-message a { font-weight: 400; color: #333; }
#call-to-action-message a:hover { color: skyblue; }

@media screen and (min-width: 48rem) {
  #call-to-action-message > p { font-size: 1rem; }
}

@media screen and (min-width: 64rem) {
  #call-to-action-message > p { font-size: 1.1rem; }
}

@media screen and (min-width: 80rem) {
  #call-to-action-message > p { margin-left: 15%; margin-right: 15%; }
}



/*** PAGE: SCHEDULE ***/

h1.schedule-occasion-title {
  margin: 3rem 0 0 0; padding-bottom: 0.1rem;
  border-bottom: 2px solid #ccc;
  font-weight: 300; font-size: 1.1rem;
  color: #333;
}

h2.schedule-occasion-start {
  margin: 0.5rem 0;
  font-weight: 600; font-size: 1rem;
  color: #333;
}

div.schedule-occasion-descriptive {
  margin: 0.5rem 0 0 0;
  color: #666;
}

div.schedule-occasion-descriptive a { font-weight: 400; color: #333; }

section.schedule-occasion > div.pure-g > div { box-sizing: border-box; }

img.schedule-event-image { display: none; }

h1.schedule-event-title-with-image, h1.schedule-event-title-without-image {
  margin: 2rem 0 0.25rem 0;
  font-weight: 400; font-size: 1rem;
  color: #333;
}

div.schedule-event-descriptive {
  margin: 0; margin-right: 10%;
  color: #666;
}

div.schedule-event-descriptive a { font-weight: 400; color: #333; }

div.schedule-event-day {
  margin: 0.25rem 0 0 1rem;
  font-weight: 400; font-size: 0.9rem;
  color: #666;
}

div.schedule-event-time {
  margin-left: 2rem;
  font-weight: 300; font-size: 0.9rem;
  color: #999;
}

@media screen and (min-width: 35.5rem) {
  img.schedule-event-image {
    display: inline-block;
    width: 75%; max-width: 360px; object-fit: cover;
    margin-top: 2rem;
    border-radius: 11px; box-shadow: -6px 8px 6px #666;
  }

  h1.schedule-event-title-with-image { margin-top: 0.75rem; }
}



/*** PAGE: BULLETINS ***/

section.bulletins-year > h1 {
  margin: 2rem 0 1rem 0;
  border-bottom: 2px solid #ccc;
  font-weight: 300; font-size: 0.9rem;
  color: #333;
}

section.bulletins-month > h1 {
  margin: 1rem 0 0.25rem 1rem;
  font-weight: 300; font-size: 0.9rem;
  color: #999;
}

section.bulletins-month > div.pure-g > div { box-sizing: border-box; }

a.bulletins-bulletin-issue {
  display: block;
  margin: 0.25rem 0 0 2rem;
  font-weight: 300; font-size: 0.9rem;
  text-decoration: none;
  color: #333;
}

span.bulletins-bulletin-latest {
  margin-left: 0.25rem;
  padding: 0.1rem 0.4rem;
  background-color: #eee;
  color: #333;
}

div.bulletins-bulletin > div > div {
  margin: 0.15rem 0 0 3rem;
  font-weight: 400; font-size: 0.8rem;
  color: #999;
}

a.bulletins-bulletin-insert {
  display: block;
  margin: 0rem 0 0 3.5rem;
  font-weight: 300; font-size: 0.8rem;
  text-decoration: none;
  color: #333;
}

div.bulletins-bulletin a:hover { color: skyblue; }



/*** PAGE: CLERGY ***/

section.clergy-member { margin-top: 2rem; }

section.clergy-member > div.pure-g > div { box-sizing: border-box; }

div.clergy-member-image > img, div.clergy-member-image > div { display: none; }

h1.clergy-member-text-identity {
  margin: 0;
  border-bottom: 2px solid #eee;
  font-weight: 400; font-size: 0.9rem;
  color: #333;
}

span.clergy-member-text-title { font-weight: 300; color: #999; }
span.clergy-member-text-name { margin-left: 0.1rem; font-weight: 600; color: #333; }

h2.clergy-member-text-position {
  margin: 0;
  font-weight: 400; font-size: 0.9rem; letter-spacing: -0.05rem;
  color: #666;
}

div.clergy-member-text-bio { margin: 0.5rem 0; }

div.clergy-member-text-contact { margin-top: 0.5rem; }

div.clergy-member-text-contact > a {
  margin-right: 1rem;
  font-weight: 300; font-size: 0.9rem;
  text-decoration: none;
  color: #333;
}

div.clergy-member-text-contact > a:last-of-type { margin-left: 0; white-space: nowrap; }
div.clergy-member-text-contact > a:hover { color: skyblue; }

@media screen and (min-width: 35.5rem) {
  div.clergy-member-image { margin-top: 0.25rem; }

  div.clergy-member-image > img {
    display: inline-block;
    width: 75%; max-width: 360px; object-fit: cover;
    border-radius: 11px; box-shadow: -6px 8px 6px #666;
  }
}

@media screen and (min-width: 48rem) {
  p.clergy-member-text-bio { margin-right: 5%; }
}

@media screen and (min-width: 64rem) {
  h1.clergy-member-text-identity { font-size: 1.1rem; }
  h2.clergy-member-text-position { font-size: 1rem; }
  p.clergy-member-text-bio,
  div.clergy-member-text-contact > a { font-size: 1rem; }
  span.clergy-member-text-name { margin-left: 0.2rem; }
  div.clergy-member-text-contact > a { margin-right: 1.25rem; }
}

@media screen and (min-width: 80rem) {
  p.clergy-member-text-bio { margin-right: 10%; }
}



/*** PAGE: MINISTRIES ***/

#ministries-links {
  margin: 4rem 0;
  font-weight: 300; font-size: 0.9rem;
}

#ministries-links-heading {
  margin-bottom: 0.5rem; padding-bottom: 0.25rem;
  border-bottom: 2px solid #eee;
  color: #666;
}

div.ministries-links-link { margin: 0 0 0.25rem 1rem; }
div.ministries-links-link > a { text-decoration: none; color: #333; }
div.ministries-links-link > a:last-of-type { padding-right: 0; }
div.ministries-links-link > a:hover { color: skyblue; }

section.ministries-ministry { margin-top: 4rem; }

section.ministries-ministry > div.pure-g > div { box-sizing: border-box; }

div.ministries-ministry-image > img,
  div.ministries-ministry-image > div { display: none; }

h1.ministries-ministry-text-title {
  margin: 0 0 0.5rem 0;
  border-bottom: 2px solid #eee;
  font-weight: 400; font-size: 0.9rem;
  color: #333;
}

div.ministries-ministry-text-descriptive { margin: 0.25rem 0 0 0; }

div.ministries-ministry-text-name {
  margin-top: 0.75rem;
  font-weight: 600; font-size: 0.9rem;
  color: #333;
}

div.ministries-ministry-text-title {
  font-weight: 400; font-size: 0.9rem; letter-spacing: -0.05rem;
  color: #666;
}

div.ministries-ministry-text-method {
  margin-left: 1rem;
  font-weight: 300; font-size: 0.9rem;
  color: #333;
}

div.ministries-ministry-text-email > a { padding-left: 1rem; text-decoration: none; color: #999; }
div.ministries-ministry-text-email > a:hover { color: skyblue; }
div.ministries-ministry-text-phone > span { padding-left: 1rem; color: #999; }

@media screen and (min-width: 35.5rem) {
  div.ministries-ministry-image > img {
    display: inline-block;
    width: 75%; max-width: 360px; object-fit: cover;
    border-radius: 11px; box-shadow: -6px 8px 6px #666;
  }
}

@media screen and (min-width: 64rem) {
  h1.ministries-ministry-text-title { font-size: 1rem; }
  div.ministries-ministry-text-descriptive > p { font-size: 1rem; }
  div.ministries-ministry-text-name { font-size: 1rem; }
  div.ministries-ministry-text-title { font-size: 1rem; }
  div.ministries-ministry-text-method { font-size: 1rem; }
}



/*** PAGE: SACRAMENTS ***/

#sacraments-links {
  margin: 4rem 0;
  font-weight: 300; font-size: 0.9rem;
}

#sacraments-links-heading {
  margin-bottom: 0.5rem; padding-bottom: 0.25rem;
  border-bottom: 2px solid #eee;
  color: #666;
}

div.sacraments-links-link { margin: 0 0 0.25rem 1rem; }
div.sacraments-links-link > a { text-decoration: none; color: #333; }
div.sacraments-links-link > a:last-of-type { padding-right: 0; }
div.sacraments-links-link > a:hover { color: skyblue; }

section.sacraments-sacrament {
  margin-top: 4rem;
  font-weight: 300; font-size: 0.9rem;
}

div.sacraments-image { display: none; }

section.sacraments-sacrament > div.pure-g > div { box-sizing: border-box; }

div.sacraments-sacrament-title > h1 {
  margin: 0 0 0.15rem 0;
  font-weight: 600; font-size: 1rem;
  color: #333;
}

div.sacraments-sacrament-title > a {
  text-decoration: none;
  color: #666;
}

div.sacraments-sacrament-title > a:hover { color: skyblue; }

div.sacraments-sacrament-text {
  margin-top: 0.25rem; padding-top: 1rem;
  border-top: 2px solid #eee;
  color: #333;
}

h2.sacraments-sacrament-text-headline {
  margin: 0 0 0.5rem 0;
  font-weight: 600; font-size: 0.9rem;
}

@media screen and (min-width: 64rem) {
  #sacraments-links { font-size: 1rem; }
  section.sacraments-sacrament { font-size: 1rem; }

  div.sacraments-sacrament-title { padding-right: 1%; border-right: 2px solid #eee; }

  div.sacraments-sacrament-title > h1 { font-size: 1.1rem; }

  div.sacraments-image { display: inline-block; margin-top: 0.5rem; }

  div.sacraments-image > img {
    width: 100%; max-width: 360px; object-fit: cover;
    border-radius: 11px; box-shadow: -6px 8px 6px #666;
  }

  div.sacraments-sacrament-text {
    margin-top: 0; padding: 0 0 0 1%;
    border-top: none;
  }

  h2.sacraments-sacrament-text-headline { font-size: 1rem; }
}



/*** PAGE: HISTORY ***/

/* tbd */
