---
---



/*** PAGE: INDEX ***/


/* SECTION: COVID-19 */

#index-covid19 { margin-bottom: 3rem; text-align: center; }

#index-covid19 > h1 {
  margin: 0 0 1rem 0;
  font-size: 2rem; font-weight: 600;
  color: #c33;
}

#index-covid19-text { margin-bottom: 3rem; }

#index-covid19-text p {
  margin: 0.5rem 0 0 0;
  font-size: 1.25rem; font-weight: 300;
}


/* SECTION: SOCIAL MEDIA & MAP */

#social { margin: 0 5% 3rem 5%; text-align: center; }

#social-logos > a { margin-right: 5%; filter: grayscale(0.5); }
#social-logos > a:last-of-type { margin: 0 0 0 8%; }

#social-logos > a > img { width: 36px; height: 36px; }

#social-message {
  margin-top: 0.25rem; padding-top: 0.25rem;
  border-top: 2px solid #eee;
  font-weight: 400; font-size: 0.9rem;
  color: #333;
}

@media screen and (min-width: 35.5rem) {
  #social-logos > a > img { width: 45px; height: 45px; }
}

@media screen and (min-width: 48rem) {
  #social-logos > a > img { width: 54px; height: 54px; }
  #social-message { font-size: 1rem; }
}

@media screen and (min-width: 64rem) {
  #social { margin-left: 10%; margin-right: 10%; }
  #social-logos > a > img { width: 72px; height: 72px; }
  #social-message { font-size: 1.1rem; }
}


/* SECTION: TWITTER */

#twitter { margin-bottom: 3rem; }

#twitter > h1 {DISPLAY:NONE;
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem; font-weight: 300;
  text-align: center;
}

#twitter > h1 > a { text-decoration: none; color: #333; }
#twitter > h1 > a:hover { color: skyblue; }

@media screen and (min-width: 35.5rem) {
  #twitter > h1 { font-size: 1.5rem; }
}

@media screen and (min-width: 64rem) {
  #twitter > h1 { font-size: 1.75rem; }
}

@media screen and (min-width: 80rem) {
  #twitter > h1 { font-size: 2rem; }
}


/* SECTION: SCHEDULE */

#index-schedule { text-align: center; }

#index-schedule-title {
  margin: 0 5%; padding-bottom: 0.25rem;
  border-bottom: 2px solid #eee;
  font-weight: 400; font-size: 0.9rem; font-size: 1.1rem;
  color: #333;
}

ul.index-schedule-diem-list {
  margin: 2rem 0 0 0; padding: 0;
  list-style: none;
  font-size: 1rem;
}

h1.index-schedule-diem-day {
  margin: 0;
  font-size: 0.9rem; font-weight: 300;
  color: #333;
}

  span.index-schedule-diem-mark { display: none; }

  span.index-schedule-diem-dayofweek-celebration {
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }

  span.index-schedule-diem-dayofweek {
    margin-right: 0.5rem; padding: 0.25rem 0.75rem;
    background-color: #eee;
    border-radius: 11px;
    font-size: 0.9rem;
  }

  span.index-schedule-diem-formatteddate { font-weight: 400; }

  span.index-schedule-diem-celebration {
    display: none;
    margin-left: 0.5rem; padding: 0.2rem 0.5rem;
    background-color: #eee; border-radius: 11px;
  }

h2.index-schedule-diem-note {
  margin: 0.5rem 0 0 0;
  font-weight: 600; font-size: 0.8rem;
  color: #333;
}

ul.index-schedule-event-list {
  margin: 0; padding: 0;
  list-style: none;
  font-size: 1rem;
}

li.index-schedule-event-item { margin: 0.25rem 0 0 0; }

  span.index-schedule-event-title { font-weight: 400; color: #333; }
  span.index-schedule-event-recurring { font-weight: 400; }
  span.index-schedule-event-special { font-weight: 600; }

  span.index-schedule-event-time,
  span.index-schedule-event-location {
    display: block;
    margin-left: 0.5rem;
    font-weight: 300;
    color: #666;
    white-space: nowrap;
  }

  span.index-schedule-event-location { color: #393; }

  div.index-schedule-event-descriptive > p {
    margin: 0.15rem 5% 0 5%;
    font-size: 0.8rem;
    color: #333;
  }

#index-schedule-more { margin-top: 2rem; }

#index-schedule-more > a {
  display: block;
  font-weight: 300; font-size: 1.1rem;
  text-decoration: none;
  color: #999;
  white-space: nowrap;
}

#index-schedule-more > a:last-child { margin-top: 0.5rem; }

#index-schedule-more > a:hover { color: skyblue; }

@media screen and (min-width: 35.5rem) {
  li.index-schedule-event-item { margin-top: 0.75rem; }
  span.index-schedule-diem-celebration,
  span.index-schedule-event-time,
  span.index-schedule-event-location { display: inline; font-size: 0.9rem; }

  span.index-schedule-diem-mark {
    display: inline;
    margin-right: 0.75rem;
    font-weight: 400;
    color: #c33;
  }

  #index-schedule-more > a { display: inline; }
  #index-schedule-more > a:last-child { margin-left: 2rem; }
}

@media screen and (min-width: 64rem) {
  div.index-schedule-event-descriptive > p {
    margin-left: 10%; margin-right: 10%;
  }
}

@media screen and (min-width: 80rem) {
  div.index-schedule-event-descriptive > p {
    margin-left: 15%; margin-right: 15%;
  }
}


/* SECTION: EXPOSITION */

#exposition { margin: 3rem 10% 0 10%; }

#exposition-title {
  margin: 0 auto 2rem auto;
  font-weight: 600; font-size: 1.1rem;
  text-align: center;
  color: #333;
}

div.exposition-item { margin-bottom: 3rem; }

div.exposition-item-patch {
  width: 7rem; height: 7rem; line-height: 7rem;
  margin: 0 auto 1rem auto;
  background-color: #eee;
  border-radius: 50%;
  text-align: center;
  color: #666;
}

div.exposition-item-patch-blurb { display: inline-block; vertical-align: middle; line-height: normal; }
div.exposition-item-patch-blurb p { font-weight: 400; font-size: 0.9rem; margin: 0; position: relative; top: -0.25rem; line-height: 1rem; }
div.exposition-item-patch-blurb em { font-weight: 400; font-size: 1rem; font-style: normal; }
div.exposition-item-patch-blurb strong { font-weight: 600; font-size: 1.2rem; }

div.exposition-item-title {
  margin: 0 auto 0.5rem auto;
  font-weight: 400; font-size: 1rem;
  color: #333;
}

div.exposition-item-text { margin: 0.5rem 5% 0 0; color: #666; }
div.exposition-item:nth-of-type(3n) div.exposition-item-text { margin-right: 0; }
div.exposition-item-text em { font-style: normal; color: #c33; }

@media screen and (min-width: 48rem) {
  #exposition { margin-left: 0; margin-right: 0; }
  div.exposition-item-patch { margin-bottom: 2rem; }
}

@media screen and (min-width: 64rem) {
  #exposition-title { font-size: 1.2rem; }
  div.exposition-item-patch { width: 8rem; height: 8rem; line-height: 8rem; }
  div.exposition-item-patch-blurb p { font-size: 1rem; line-height: 1.1rem; }
  div.exposition-item-patch-blurb em { font-size: 1.1rem; }
  div.exposition-item-patch-blurb strong { font-size: 1.3rem; }
  div.exposition-item-title { font-size: 1.1rem; }
  div.exposition-item-text p { margin-top: 0.5rem; font-size: 1rem; }
}


/* SECTION: FORMED */

#formed {
  display: block;
  margin: 1rem 0 3rem 0;
  text-align: center; text-decoration: none;
  color: #666;
}

#formed > img {
  width: 100%; max-width: 435px;
  object-fit: contain;
  filter: grayscale(0.5);
}

#formed > div {
  margin-top: 0.25rem;
  font-weight: 300; font-size: 0.9rem;
  color: #333;
}


/* SECTION: VIDEO */

#video {
  margin-top: 3rem;
  text-align: center;
}

#video > iframe { width: 240px; height: 135px; box-shadow: -4px 4px 6px #666; }
@media screen and (min-width: 48rem) {
  #video > iframe { width: 560px; height: 315px; }
}

#video-description {
  margin: 0.5rem 10%;
  font-weight: 300; font-size: 0.9rem;
  color: #666;
}

#video-description a { font-weight: 400; color: #333; }
#video-description a:hover { color: skyblue; }

@media screen and (min-width: 48rem) {
  #video-description > p { font-size: 1rem; }
}

@media screen and (min-width: 64rem) {
  #video-description > p { font-size: 1.1rem; }
}

@media screen and (min-width: 80rem) {
  #video-description > p { margin-left: 15%; margin-right: 15%; }
}



/*** PAGE: SCHEDULE ***/

#schedule-links {
  margin: 4rem 0;
  font-weight: 300; font-size: 0.9rem;
}

#schedule-links-heading {
  margin-bottom: 0.5rem; padding-bottom: 0.25rem;
  border-bottom: 2px solid #eee;
  color: #666;
}

div.schedule-links-link { margin: 0 0 0.25rem 1rem; }
div.schedule-links-link > a { text-decoration: none; color: #333; }
div.schedule-links-link > a:last-of-type { padding-right: 0; }
div.schedule-links-link > a:hover { color: skyblue; }

#schedule-calendar-upcoming > h1 {
  margin: 0; padding: 0 0 0.25rem 0;
  border-bottom: 2px solid #eee;
  font-size: 1rem; font-weight: 400;
  color: #333;
}

ul.schedule-diem-list {
  margin: 0; padding: 0;
  list-style: none;
  font-size: 1rem;
}

li.schedule-diem-item {
  margin: 0; padding: 0;
}

h1.schedule-diem-heading {
  margin: 2rem 0 0 0; padding: 0 0 0.1rem 0;
  font-weight: 300; font-size: 0.9rem;
}

  span.schedule-diem-dayofweek {
    font-weight: 300; font-size: 0.75rem;
    color: #666;
  }

  span.schedule-diem-formatteddate {
    margin-left: 0.25rem;
    font-weight: 400;
    color: #333;
  }

  span.schedule-diem-celebration, span.schedule-diem-season {
    margin-left: 0.5rem;
    padding: 0.2rem 0.5rem; background-color: #eee;
    border-radius: 11px;
    font-weight: 300; font-size: 0.8rem;
    color: #333;
    white-space: nowrap;
  }

  span.schedule-diem-celebration,
  span.schedule-diem-season { display: none; }

h2.schedule-diem-note {
  margin: 0.2rem 0 0 2rem; padding: 0;
  font-weight: 600; font-size: 0.8rem;
  color: #333;
}

h2.schedule-diem-note > span {
  padding: 0.2rem 0.5rem;
  background-color: #eee; border-radius: 11px;
  color: #333;
  white-space: nowrap;
}

ul.schedule-event-list { margin: 0 0 0 2rem; padding: 0; }

li.schedule-event-item { margin: 0; padding: 0; list-style: none; }

h1.schedule-event-heading {
  margin: 0.75rem 0 0 0; padding: 0;
  font-weight: 300; font-size: 0.9rem;
}

  span.schedule-event-title { color: #333; }
  span.schedule-event-recurring { font-weight: 400; }
  span.schedule-event-special { font-weight: 600; }

  span.schedule-event-time {
    display: block;
    font-size: 0.75rem;
    color: #666;
  }

  span.schedule-event-location {
    display: block;
    font-weight: 400; font-size: 0.8rem;
    color: #393;
    white-space: nowrap;
  }

div.schedule-event-descriptive > p {
  margin: 0.25rem 0 0 2rem; padding: 0;
  font-size: 0.8rem;
  color: #333;
}

div.schedule-event-descriptive > p em {}
div.schedule-event-descriptive > p strong { font-weight: 600; }
div.schedule-event-descriptive > p a { font-weight: 400; text-decoration: none; }
div.schedule-event-descriptive > p a:hover { color: skyblue; }

#schedule-calendar-past > h1 {
  margin: 2rem 0 0 0; padding: 0 0 0.25rem 0;
  border-bottom: 2px solid #eee;
  font-size: 1rem; font-weight: 400;
  color: #333;
}

@media screen and (min-width: 35.5rem) {
  span.schedule-event-time,
  span.schedule-event-location { display: inline; margin-left: 0.5rem; }
  span.schedule-diem-celebration,
  span.schedule-diem-season { display: inline; }
}

@media screen and (min-width: 64rem) {
  #schedule-links { font-size: 1rem; }
}



/*** PAGE: BULLETINS ***/

section.bulletins-year > h1 {
  margin: 2rem 0 1rem 0;
  border-bottom: 2px solid #ccc;
  font-weight: 300; font-size: 0.9rem;
  color: #333;
}

section.bulletins-month > h1 {
  margin: 1rem 0 0.25rem 1rem;
  font-weight: 300; font-size: 0.9rem;
  color: #999;
}

section.bulletins-month > div.pure-g > div { box-sizing: border-box; }

a.bulletins-bulletin-issue {
  display: block;
  margin: 0.25rem 0 0 2rem;
  font-weight: 300; font-size: 0.9rem;
  text-decoration: none;
  color: #333;
}

a.bulletins-bulletin-latest { color: #c33; }

div.bulletins-bulletin-insert-label {
  margin: 0.15rem 0 0 3rem;
  font-weight: 400; font-size: 0.8rem;
  color: #999;
}

a.bulletins-bulletin-insert {
  display: block;
  margin: 0rem 0 0 3.5rem;
  font-weight: 300; font-size: 0.8rem;
  text-decoration: none;
  color: #333;
}

div.bulletins-bulletin a:hover { color: skyblue; }



/*** PAGE: CLERGY ***/

section.clergy-member { margin-top: 2rem; }

section.clergy-member > div.pure-g > div { box-sizing: border-box; }

div.clergy-member-image > img, div.clergy-member-image > div { display: none; }

h1.clergy-member-text-identity {
  margin: 0;
  border-bottom: 2px solid #eee;
  font-weight: 400; font-size: 0.9rem;
  color: #333;
}

span.clergy-member-text-title { font-weight: 300; color: #999; }
span.clergy-member-text-name { margin-left: 0.1rem; font-weight: 600; color: #333; }

h2.clergy-member-text-position {
  margin: 0;
  font-weight: 400; font-size: 0.9rem; letter-spacing: -0.05rem;
  color: #666;
}

div.clergy-member-text-bio { margin: 0.5rem 0; }

div.clergy-member-text-contact { margin-top: 1rem; }

div.clergy-member-text-contact > a {
  margin-right: 1rem;
  font-weight: 300; font-size: 0.9rem;
  text-decoration: none;
  color: #333;
}

div.clergy-member-text-contact > a:last-of-type { margin-left: 0; white-space: nowrap; }
div.clergy-member-text-contact > a:hover { color: skyblue; }

@media screen and (min-width: 35.5rem) {
  div.clergy-member-image { margin-top: 0.25rem; }

  div.clergy-member-image > img {
    display: inline-block;
    width: 75%; max-width: 360px; object-fit: cover;
    border-radius: 11px; box-shadow: -6px 8px 6px #666;
  }
}

@media screen and (min-width: 48rem) {
  p.clergy-member-text-bio { margin-right: 5%; }
}

@media screen and (min-width: 64rem) {
  h1.clergy-member-text-identity { font-size: 1.1rem; }
  h2.clergy-member-text-position { font-size: 1rem; }
  p.clergy-member-text-bio,
  div.clergy-member-text-contact > a { font-size: 1rem; }
  span.clergy-member-text-name { margin-left: 0.2rem; }
  div.clergy-member-text-contact > a { margin-right: 1.25rem; }
}

@media screen and (min-width: 80rem) {
  p.clergy-member-text-bio { margin-right: 10%; }
}



/*** PAGE: MINISTRIES ***/

#ministries-links {
  margin: 4rem 0;
  font-weight: 300; font-size: 0.9rem;
}

#ministries-links-heading {
  margin-bottom: 0.5rem; padding-bottom: 0.25rem;
  border-bottom: 2px solid #eee;
  color: #666;
}

div.ministries-links-link { margin: 0 0 0.25rem 1rem; }
div.ministries-links-link > a { text-decoration: none; color: #333; }
div.ministries-links-link > a:last-of-type { padding-right: 0; }
div.ministries-links-link > a:hover { color: skyblue; }

section.ministries-ministry { margin-top: 4rem; }

section.ministries-ministry > div.pure-g > div { box-sizing: border-box; }

div.ministries-ministry-image > img,
  div.ministries-ministry-image > div { display: none; }

h1.ministries-ministry-text-title {
  margin: 0 0 0.5rem 0;
  border-bottom: 2px solid #eee;
  font-weight: 400; font-size: 0.9rem;
  color: #333;
}

div.ministries-ministry-text-descriptive { margin: 0.25rem 0 0 0; }

div.ministries-ministry-text-name {
  margin-top: 0.75rem;
  font-weight: 600; font-size: 0.9rem;
  color: #333;
}

div.ministries-ministry-text-title {
  font-weight: 400; font-size: 0.9rem; letter-spacing: -0.05rem;
  color: #666;
}

div.ministries-ministry-text-method {
  margin-left: 1rem;
  font-weight: 300; font-size: 0.9rem;
  color: #333;
}

div.ministries-ministry-text-email > a { padding-left: 1rem; text-decoration: none; color: #999; }
div.ministries-ministry-text-email > a:hover { color: skyblue; }
div.ministries-ministry-text-phone > span { padding-left: 1rem; color: #999; }

@media screen and (min-width: 35.5rem) {
  div.ministries-ministry-image > img {
    display: inline-block;
    width: 75%; max-width: 360px; object-fit: cover;
    border-radius: 11px; box-shadow: -6px 8px 6px #666;
  }
}

@media screen and (min-width: 64rem) {
  #ministries-links { font-size: 1rem; }
  h1.ministries-ministry-text-title { font-size: 1rem; }
  div.ministries-ministry-text-name { font-size: 1rem; }
  div.ministries-ministry-text-title { font-size: 1rem; }
  div.ministries-ministry-text-method { font-size: 1rem; }
}



/*** PAGE: SACRAMENTS ***/

#sacraments-links {
  margin: 4rem 0;
  font-weight: 300; font-size: 0.9rem;
}

#sacraments-links-heading {
  margin-bottom: 0.5rem; padding-bottom: 0.25rem;
  border-bottom: 2px solid #eee;
  color: #666;
}

div.sacraments-links-link { margin: 0 0 0.25rem 1rem; }
div.sacraments-links-link > a { text-decoration: none; color: #333; }
div.sacraments-links-link > a:last-of-type { padding-right: 0; }
div.sacraments-links-link > a:hover { color: skyblue; }

section.sacraments-sacrament {
  margin-top: 4rem;
  font-weight: 300; font-size: 0.9rem;
}

div.sacraments-image { display: none; }

section.sacraments-sacrament > div.pure-g > div { box-sizing: border-box; }

div.sacraments-sacrament-title > h1 {
  margin: 0 0 0.15rem 0;
  font-weight: 600; font-size: 1rem;
  color: #333;
}

div.sacraments-sacrament-title > a {
  text-decoration: none;
  color: #666;
}

div.sacraments-sacrament-title > a:hover { color: skyblue; }

div.sacraments-sacrament-text {
  margin-top: 0.25rem; padding-top: 1rem;
  border-top: 2px solid #eee;
  color: #333;
}

h2.sacraments-sacrament-text-headline {
  margin: 0 0 0.5rem 0;
  font-weight: 600; font-size: 0.9rem;
}

@media screen and (min-width: 64rem) {
  #sacraments-links { font-size: 1rem; }
  section.sacraments-sacrament { font-size: 1rem; }

  div.sacraments-sacrament-title { padding-right: 1%; border-right: 2px solid #eee; }

  div.sacraments-sacrament-title > h1 { font-size: 1.1rem; }

  div.sacraments-image { display: inline-block; margin-top: 0.5rem; }

  div.sacraments-image > img {
    width: 100%; max-width: 360px; object-fit: cover;
    border-radius: 11px; box-shadow: -6px 8px 6px #666;
  }

  div.sacraments-sacrament-text {
    margin-top: 0; padding: 0 0 0 1%;
    border-top: none;
  }

  h2.sacraments-sacrament-text-headline { font-size: 1rem; }
}



/*** PAGE: LEGAL ***/

h1.legal-title {
  margin: 1rem 0;
  border-bottom: 2px solid #eee;
  font-weight: 300; font-size: 1.3rem; letter-spacing: -0.05rem;
  color: black; text-shadow: -1px 1px 2px #ccc;
}

div.legal-statement > h1 {
  font-weight: 300; font-size: 1rem; letter-spacing: -0.025rem;
}

div.legal-statement > p { font-size: 0.9rem; }

div.legal-statement > ul {
  margin: 0.5rem 0 0 0;
  font-weight: 300; font-size: 0.9rem;
}

div.legal-statement > ul p { margin: 0 0 0.25rem 0; }



/* PAGE: GIVING */

section.giving-method {
  margin-bottom: 3rem; padding-top: 1rem;
  text-align: center; color: #333;
}

i.fas {
  padding-bottom: 0.5rem;
  text-shadow: -4px 4px 4px #999;
  border-bottom: 4px solid #eee;
  color: #666;
}

h1.giving-title {
  margin: 1rem 0 0.25rem 0;
  font-weight: 400; font-size: 1.25rem; letter-spacing: -0.05rem;
}

div.giving-descriptive > p {
  margin: 0 10% 0.25rem 10%;
  font-weight: 300; font-size: 0.8rem;
}

#giving-online > button { margin-top: 1rem; }

#giving-text > div em {
  font-weight: 600; font-size: 1.5rem; font-style: normal; letter-spacing: 0.05rem;
  color: #363;
}

#giving-apps-stores { margin-top: 1rem; }
#giving-apps-stores img { width: 128px; }

@media screen and (min-width: 35.5rem) {
  div.giving-descriptive > p { margin: 0 15% 0.25rem 15%; }
  h1.giving-title { font-size: 1.5rem; }
}

@media screen and (min-width: 64rem) {
  div.giving-descriptive > p { margin: 0 5% 0.25rem 5%; }
}



/*** PAGE: GENERAL POST ***/

div.post > h1 {
  margin: 2rem 0 1rem 0;
  border-bottom: 2px solid #eee;
  font-weight: 300; font-size: 1.5rem; letter-spacing: -0.05rem;
}

div.post > h2 {
  margin: 1rem 0;
  font-weight: 600; font-size: 1.25rem;
  color: #933;
}

div.post > p { margin: 0 0 0.5rem 0; font-size: 0.9rem; }
div.post > ul { font-weight: 300; font-size: 0.9rem; }
// div.post > ul > li { margin: 0; }
div.post > ul p { margin: 0 0 0.5rem 0; }
div.post > blockquote { margin: 0 0 0 2rem; }
div.post > blockquote > p {
  margin: 0 0 0.5rem 0;
  font-weight: 300; font-size: 0.9rem; font-style: italic;
}
